extends adminDashboard 
block content
    div.embed-responsive.embed-responsive-16vy9
    iframe.embed-responsive-item(src='http://cryptocurrencyfacts.com/')
        p Your browser does not support iframes.