extends adminDashboard
block content 
    col-lg-12.col-md-6
              .col-lg-6
                .panel.twitter-box
                  .panel-body#twitterbox
                    .live-tile
                      span.tile-title.pull-right News
                      |                                         
                      //- i.fa.fa-twitter
                      |                                         
                      div#article1
                        a(href="")
                          h2.no-m *All* crypto communities, ethereum included, should heed these words of warning...
                          span#article.tile-date 13 January, 2018
                      |