html
head
    title Crypto News
    // meta
    meta(charset='UTF-8')
    | 
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.2')
    | 
    meta(name='format-detection', content='telephone=no')
    // style
    link(href='//fonts.googleapis.com/css?family=Roboto:300,400,700', rel='stylesheet', type='text/css')
    | 
    link(href='//fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700', rel='stylesheet', type='text/css')
    | 
    link(rel='stylesheet', type='text/css', href='assets/css/resetnews.css')
    link(rel='stylesheet', type='text/css', href='assets/css/stylenews.css')
    link(rel='stylesheet', type='text/css', href='assets/css/responsivenews.css')
    link(rel='stylesheet', type='text/css', href='assets/css/darknews.css')
body
            .site-container
            .header_container.style_2
                .header.clearfix
                .logo
                    h1
                    a(href='?page=home', title='Pressroom') Pressroom
                    | 
                    h4 Crypto News
            | 
            | 
            .page
                .page_header.clearfix.page_margin_top
                .page_header_left
                    h1.page_title Around the Market
                | 
                .page_layout.clearfix
                .divider_block.clearfix
                    hr.divider.first
                    | 
                    hr.divider.subheader_arrow
                    | 
                    hr.divider.last
                | 
                .row.page_margin_top
                    .column.column_2_3
                    .row
                        ul.blog.column.column_1_2
                        li.post
                            a(href='?page=post_small_image', title='Built on Brotherhood, Club Lives Up to Name')
                            | 
                            .post_content
                            h2.with_number
                                a(href='?page=post_small_image', title='Built on Brotherhood, Club Lives Up to Name') Built on Brotherhood, Club Lives Up to Name
                                | 
                                a.comments_number(href='?page=post#comments_list', title='2 comments')
                                | 2
                                span.arrow_comments
                            | 
                            ul.post_details
                                li.category
                                a(href='?page=category&cat=world', title='WORLD') WORLD
                                | 
                                li.date
                                | 10:11 PM, Feb 02
                            | 
                            p
                                | Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.
                            | 
                            a.read_more(href='?page=post_small_image', title='Read more')
                                span.arrow
                                span READ MORE
                        | 
                        li.post
                            a(href='?page=post', title='Built on Brotherhood, Club Lives Up to Name')
                            | 
                            .post_content
                            h2.with_number
                                a(href='?page=post', title='Built on Brotherhood, Club Lives Up to Name') Built on Brotherhood, Club Lives Up to Name
                                | 
                                a.comments_number(href='?page=post#comments_list', title='2 comments')
                                | 2
                                span.arrow_comments
                            | 
                            ul.post_details
                                li.category
                                a(href='?page=category&cat=health', title='HEALTH') HEALTH
                                | 
                                li.date
                                | 10:11 PM, Feb 02
                            | 
                            p
                                | Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.
                            | 
                            a.read_more(href='?page=post', title='Read more')
                                span.arrow
                                span READ MORE
                        | 
                        li.post
                            a(href='?page=post_gallery', title='Built on Brotherhood, Club Lives Up to Name')
                            span.icon.gallery(style='display: block;')
                            |
                            | 
                            .post_content
                            h2.with_number
                                a(href='?page=post_gallery', title='Built on Brotherhood, Club Lives Up to Name') Built on Brotherhood, Club Lives Up to Name
                                | 
                                a.comments_number(href='?page=post_gallery#comments_list', title='2 comments')
                                | 2
                                span.arrow_comments
                            | 
                            ul.post_details
                                li.category
                                a(href='?page=category&cat=health', title='HEALTH') HEALTH
                                | 
                                li.date
                                | 10:11 PM, Feb 02
                            | 
                            p
                                | Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.
                            | 
                            a.read_more(href='?page=post_gallery', title='Read more')
                                span.arrow
                                span READ MORE
                        | 
                        ul.blog.column.column_1_2
                        li.post
                            a(href='?page=post', title='Built on Brotherhood, Club Lives Up to Name')
                            | 
                            .post_content
                            h2.with_number
                                a(href='?page=post', title='Built on Brotherhood, Club Lives Up to Name') Built on Brotherhood, Club Lives Up to Name
                                | 
                                a.comments_number(href='?page=post#comments_list', title='2 comments')
                                | 2
                                span.arrow_comments
                            | 
                            ul.post_details
                                li.category
                                a(href='?page=category&cat=world', title='WORLD') WORLD
                                | 
                                li.date
                                | 10:11 PM, Feb 02
                            | 
                            p
                                | Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.
                            | 
                            a.read_more(href='?page=post', title='Read more')
                                span.arrow
                                span READ MORE
                        | 
                        li.post
                            a(href='?page=post', title='Built on Brotherhood, Club Lives Up to Name')
                            | 
                            .post_content
                            h2.with_number
                                a(href='?page=post', title='Built on Brotherhood, Club Lives Up to Name') Built on Brotherhood, Club Lives Up to Name
                                | 
                                a.comments_number(href='?page=post#comments_list', title='2 comments')
                                | 2
                                span.arrow_comments
                            | 
                            ul.post_details
                                li.category
                                a(href='?page=category&cat=health', title='HEALTH') HEALTH
                                | 
                                li.date
                                | 10:11 PM, Feb 02
                            | 
                            p
                                | Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.
                            | 
                            a.read_more(href='?page=post', title='Read more')
                                span.arrow
                                span READ MORE
                        | 
                        li.post
                            a(href='?page=post_gallery', title='Built on Brotherhood, Club Lives Up to Name')
                            span.icon.gallery(style='display: block;')
                            |
                            | 
                            .post_content
                            h2.with_number
                                a(href='?page=post_gallery', title='Built on Brotherhood, Club Lives Up to Name') Built on Brotherhood, Club Lives Up to Name
                                | 
                                a.comments_number(href='?page=post_gallery#comments_list', title='2 comments')
                                | 2
                                span.arrow_comments
                            | 
                            ul.post_details
                                li.category
                                a(href='?page=category&cat=health', title='HEALTH') HEALTH
                                | 
                                li.date
                                | 10:11 PM, Feb 02
                            | 
                            p
                                | Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.
                            | 
                            a.read_more(href='?page=post_gallery', title='Read more')
                                span.arrow
                                span READ MORE
            | 
            .background_overlay
