head

    link(href='//fonts.googleapis.com/css?family=Roboto:300,400,700', rel='stylesheet', type='text/css')
    link(href='//fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='assets/css/resetnews.css')
    link(rel='stylesheet', type='text/css', href='assets/css/stylenews.css')
    link(rel='stylesheet', type='text/css', href='assets/css/responsivenews.css')
    body(data-gr-c-s-loaded='true')
        .site_container
        .header_container
            .header.clearfix
            .logo
                h1
                a(href='/', title='News') Crypto News
                | 
                h4 New and Noteworthy
            | 
            .placeholder 
        | 
        | 
        .page
            .page_header.clearfix.page_margin_top
            .page_header_left
                h1.page_title News
            | 
            .page_header_right
                ul.bread_crumb
                li
                    a(title='Home', href='/')
                    | Home
                | 
                li.separator.icon_small_arrow.right_gray
                | 
                li
                    | News
            | 
            .page_layout.clearfix
            .divider_block.clearfix
                hr.divider.first
                | 
                hr.divider.subheader_arrow
                | 
                hr.divider.last
            | 
            .row
                .column.column_2_3
                .row
                    ul.blog.big
                    li.post
                        a(href='?page=post', title='Built on Brotherhood, Club Lives Up to Name')
                        img(src='images/samples/330x242/image_10.jpg', alt='img', style='display: block;')
                        | 
                        .post_content
                        h2.with_number
                            a(href='?page=post', title='Built on Brotherhood, Club Lives Up to Name') Built on Brotherhood, Club Lives Up to Name
                            | 
                            a.comments_number(href='?page=post#comments_list', title='2 comments')
                            | 2
                            span.arrow_comments
                        | 
                        ul.post_details
                            li.category
                            a(href='?page=category&cat=world', title='WORLD') WORLD
                            | 
                            li.date
                            | 10:11 PM, Feb 02
                        | 
                        p
                            | Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.
                        | 
                        a.read_more(href='?page=post', title='Read more')
                            span.arrow
                            span READ MORE
                    | 
                    li.post
                        a(href='?page=post_small_image', title='Built on Brotherhood, Club Lives Up to Name')
                        img(src='images/samples/330x242/image_05.jpg', alt='img', style='display: block;')
                        | 
                        .post_content
                        h2.with_number
                            a(href='?page=post_small_image', title='Built on Brotherhood, Club Lives Up to Name') Built on Brotherhood, Club Lives Up to Name
                            | 
                            a.comments_number(href='?page=post_small_image#comments_list', title='2 comments')
                            | 2
                            span.arrow_comments
                        | 
                        ul.post_details
                            li.category
                            a(href='?page=category&cat=health', title='HEALTH') HEALTH
                            | 
                            li.date
                            | 10:11 PM, Feb 02
                        | 
                        p
                            | Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.
                        | 
                        a.read_more(href='?page=post_small_image', title='Read more')
                            span.arrow
                            span READ MORE
                    | 
                    li.post
                        a(href='?page=post_gallery', title='Built on Brotherhood, Club Lives Up to Name')
                        span.icon.gallery(style='display: block;')
                        | 
                        img(src='images/samples/330x242/image_03.jpg', alt='img', style='display: block;')
                        | 
                        .post_content
                        h2.with_number
                            a(href='?page=post_gallery', title='Built on Brotherhood, Club Lives Up to Name') Built on Brotherhood, Club Lives Up to Name
                            | 
                            a.comments_number(href='?page=post_gallery#comments_list', title='2 comments')
                            | 2
                            span.arrow_comments
                        | 
                        ul.post_details
                            li.category
                            a(href='?page=category&cat=health', title='HEALTH') HEALTH
                            | 
                            li.date
                            | 10:11 PM, Feb 02
                        | 
                        p
                            | Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.
                        | 
                        a.read_more(href='?page=post_gallery', title='Read more')
                            span.arrow
                            span READ MORE
                    | 
                    li.post
                        a(href='?page=post_small_image', title='Built on Brotherhood, Club Lives Up to Name')
                        img(src='images/samples/330x242/image_09.jpg', alt='img', style='display: block;')
                        | 
                        .post_content
                        h2.with_number
                            a(href='?page=post_small_image', title='Built on Brotherhood, Club Lives Up to Name') Built on Brotherhood, Club Lives Up to Name
                            | 
                            a.comments_number(href='?page=post_small_image#comments_list', title='2 comments')
                            | 2
                            span.arrow_comments
                        | 
                        ul.post_details
                            li.category
                            a(href='?page=category&cat=world', title='WORLD') WORLD
                            | 
                            li.date
                            | 10:11 PM, Feb 02
                        | 
                        p
                            | Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.
                        | 
                        a.read_more(href='?page=post_small_image', title='Read more')
                            span.arrow
                            span READ MORE
                    | 
                    li.post
                        a(href='?page=post', title='Built on Brotherhood, Club Lives Up to Name')
                        img(src='images/samples/330x242/image_12.jpg', alt='img', style='display: block;')
                        | 
                        .post_content
                        h2.with_number
                            a(href='?page=post', title='Built on Brotherhood, Club Lives Up to Name') Built on Brotherhood, Club Lives Up to Name
                            | 
                            a.comments_number(href='?page=post#comments_list', title='2 comments')
                            | 2
                            span.arrow_comments
                        | 
                        ul.post_details
                            li.category
                            a(href='?page=category&cat=health', title='HEALTH') HEALTH
                            | 
                            li.date
                            | 10:11 PM, Feb 02
                        | 
                        p
                            | Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.
                        | 
                        a.read_more(href='?page=post', title='Read more')
                            span.arrow
                            span READ MORE
                    | 
                    li.post
                        a(href='?page=post_gallery', title='Built on Brotherhood, Club Lives Up to Name')
                        span.icon.gallery(style='display: block;')
                        | 
                        img(src='images/samples/330x242/image_13.jpg', alt='img', style='display: block;')
                        | 
                        .post_content
                        h2.with_number
                            a(href='?page=post_gallery', title='Built on Brotherhood, Club Lives Up to Name') Built on Brotherhood, Club Lives Up to Name
                            | 
                            a.comments_number(href='?page=post_gallery#comments_list', title='2 comments')
                            | 2
                            span.arrow_comments
                        | 
                        ul.post_details
                            li.category
                            a(href='?page=category&cat=health', title='HEALTH') HEALTH
                            | 
                            li.date
                            | 10:11 PM, Feb 02
                        | 
                        p
                            | Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.
                        | 
                        a.read_more(href='?page=post_gallery', title='Read more')
                            span.arrow
                            span READ MORE
                |
        | 
        .background_overlay
